@import "cell.scss";
@import "header.scss";
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800&display=swap');

body, #root {
	font-family: "Poppins", sans-serif;
	padding: 0;
	margin: 0;
	width: 100vw;
	height: 100vh;
	background-color: #fbfbfb;
}

.boards {
	display: flex;
	flex-wrap: wrap;
	gap: 4rem;
	justify-content: center;
	align-items: center;
}

.board {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	gap: 0.8rem;
	height: 500px;
	width: 500px;
	background-color: #a677dd;

	@media (max-width: 750px) {
		height: 350px;
		width: 350px;
	}
}

.players {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
}

.player {
	width: min-content !important;
	font-size: 1rem;

	&--current {
		div > span {
			font-weight: 500;
		}
	}
}

.gameText {
	font-weight: 500;
	text-align: center;
	font-size: 1.5rem;
	text-transform: uppercase;
}

.end-game-text {
	font-size: 3rem;
	display: flex;
	align-items: center;
	justify-content: center;
	padding: 2rem 4rem;
	height: min-content;
	border-radius: 15px;
	border: 2px solid #a677dd;
}